*,
::after,
::before {
   box-sizing: border-box;
}

body {
   font-family: Rubik;
}

.container {
   width: 1200px;
   margin: 0 auto;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.header-sec {
   background-color: #fff;
}

.top {
   display: flex;
   justify-content: space-between;
}

.logo-kurs {
   display: flex;
}

.logo {
   padding: 40px 0;
}

.logo-img {
   box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
   border-radius: 5px;
}

.kurs {
   display: flex;
   align-items: center;
}

.kurs li {
   padding-left: 20px;
   color: #7A7A7A;
   font-size: 16px;
   font-weight: bold;
   font-weight: normal;
}

.before::before {
   content: "";
   display: inline-block;
   background-repeat: no-repeat;
}

.kurs-before::before {
   width: 15px;
   height: 15px;
   color: #285193;
   font-weight: bold;
}

.dollar::before {
   content: "$"
}

.rubl::before {
   content: "₽"
}

.euro::before {
   content: "€"
}

.search-ul {
   display: flex;
   align-items: flex-start;
}

.search-icon {
   display: flex;
   align-items: flex-end;
}

.ru-before::before {
   width: 25px;
   height: 22px;
   background-image: url("/img/ru.svg");
}

.search-ru-lang a {
   display: flex;
   align-items: flex-end;
}

.search-ul li {
   padding: 20px;
   padding-right: 0;
}

.search-ul button {
   background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
   border-radius: 5px;
   border: none;
}

.search-ul button a {
   display: flex;
   align-items: center;
   padding: 3px 5px;
   color: #fff;
}

.tg-before::before {
   width: 25px;
   height: 20px;
   background-image: url("/img/telegram.svg");
}

.nav-ul {
   display: flex;
   justify-content: space-around;
   padding: 15px;
   margin: 0;
   box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
   border-radius: 5px; 
   font-weight: 500;
   font-size: 19px;
}

.nav-ul a {
   color: #515151;
}

.ads {
   margin: 20px 0;
   width: 100%;
}

.covid {
   display: flex;
   justify-content: space-evenly;
   margin: 22px auto;
   padding: 30px;
   background-color: #F6F6F9;
   border-radius: 10px;
}

.covid-before::before {
   width: 40px;
   height: 50px;
   background-image: url("/img/covid.svg");
}

.infected-before::before {
   width: 40px;
   height: 40px;
   background-image: url("/img/infected.svg")
}

.recovered-before::before {
   width: 40px;
   height: 40px;
   background-image: url("/img/recovered.svg")
}

.dead-before::before {
   width: 40px;
   height: 40px;
   background-image: url("/img/dead.svg");
}

.covid-info {
   border-right: 2px solid #EB5569;
}

.covid h3 {
   font-size: 20px;
   line-height: 24px;
   width: 330px;
   margin-left: 25px;
}

.covid > div {
   display: flex;
   align-items: center;
   font-size: 18px;
   line-height: 21px;
}

.covid > div span {
   display: flex;
}

.covid img {
   width: 38px;
   height: 40px;
}

.covid span {
   font-size: 20px;
   font-weight: 500;
}

.covid p {
   padding-left: 15px;
   font-size: 18px;
   line-height: 25px;
}

.infected-div {
   border-right: 2px solid #F4CCD1;
   padding-right: 60px;
}

.infected-div p {
   color: #DB0000;
}

.recovered-div {
   border-right: 2px solid #F4CCD1;
   padding-right: 60px;
}

.recovered-div p {
   color: #05B135;
}